<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Catastro</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link th:href="@{/img/favicon.ico}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css}" rel="stylesheet">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

</head>

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Incluir Sidebar -->
    <div th:replace="~{fragments :: sidebar}"></div>

    <!-- Content Start -->
    <div class="content">
        <!-- Incluir Navbar -->
        <div th:replace="~{fragments :: navbar}"></div>

        <!-- Aquí va el contenido específico de la página -->
        <div class="container my-3">
            <h1 class="text-center mb-3">Lista de Trámites Catastro</h1>
            <a class="btn btn-primary" th:href="@{/tramites/crear}">Nuevo Trámite</a>

            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                <tr th:each="tramite : ${tramites}">
                    <td th:text="${tramite.id}"></td>
                    <td th:text="${tramite.nombre}"></td>
                    <td th:text="${tramite.descripcion}"></td>

                    <td style="white-space:nowrap">
                        <!-- Editar -->
<!--                        <a class="btn btn-primary btn-sm" th:href="@{/tramites/editar/{id}(id=${tramite.id})}">-->
<!--                            Editar</a>-->

<!--                        &lt;!&ndash; Eliminar &ndash;&gt;-->
<!--                        <a class="btn btn-danger btn-sm" th:href="@{/tramites/catastro/eliminar/{id}(id=${tramite.id})}"-->
<!--                           onclick="return confirm('¿Estás seguro de eliminar este trámite?')">-->
<!--                            Eliminar-->
<!--                        </a>-->
                        <a class="btn btn-primary btn-sm" th:href="@{/tramites/editarCatastro/{id}(id=${tramite.id})}">
                            Editar</a>

                        <!-- Eliminar -->
                        <a class="btn btn-danger btn-sm"
                           th:href="@{/tramites/catastro/eliminar(id=${tramite.id})}"
                           onclick="return confirm('¿Estás seguro de eliminar este trámite?')">
                            Eliminar
                        </a>


                        <!-- boton de iniciar tramite -->
                        <a class="btn btn-primary btn-sm" th:href="@{/tramites/iniciar/{id}(id=${tramite.id})}">
                            Iniciar Tramite
                        </a>

                        <a class="btn btn-secondary btn-sm" th:href="@{/requisitos/papeles}">
                            Requisitos
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Fin del contenido específico -->
    </div>
    <!-- Content End -->

    <!-- Incluir Footer -->
    <div th:replace="~{fragments :: footer}"></div>
</div>

<!-- JavaScript Libraries -->
<script th:src="@{https://code.jquery.com/jquery-3.4.1.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/lib/chart/chart.min.js}"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>
<script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{/lib/tempusdominus/js/moment.min.js}"></script>
<script th:src="@{/lib/tempusdominus/js/moment-timezone.min.js}"></script>
<script th:src="@{/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/js/main.js}"></script>

<!-- Aquí van tus scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>
