<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Tramite de Tierras</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start   desde aquí parece ser donde tengo que copiar-->
    <div th:fragment="sidebar">
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a th:href="@{/}" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>TIERRAS</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Jhon Doe</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a th:href="@{/}" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Información</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fas fa-user me-2"></i>Roles y Usuarios</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a th:href="@{/clientes}" class="dropdown-item">Clientes</a>
                            <a href="typography.html" class="dropdown-item">Grupos y Equipos</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt m-2"></i>Recepción Tramites</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a th:href="@{/tramites}" class="dropdown-item">Categoria</a>
                            <a th:href="@{#}" class="dropdown-item">Verificar Documento</a>
                            <a th:href="@{#}" class="dropdown-item">Gestionar nuevos Tramites</a>
                            <a th:href="@{#}" class="dropdown-item">Verificar Documento</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fas fa-map-marker-alt me-2"></i>Gestionar Tramite</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="chau.html" class="dropdown-item">Remisión Tramite</a>
                            <a href="chau.html" class="dropdown-item">Registro Remisión</a>
                            <a href="chau.html" class="dropdown-item">Asignación Tramite</a>
                            <a href="chau.html" class="dropdown-item">Modificación de Datos</a>
                            <a href="chau.html" class="dropdown-item">Actualización de Tramite</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Reportes</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="signin.html" class="dropdown-item">Emitir Título</a>
                            <a href="signup.html" class="dropdown-item">Verificar Estado</a>
                            <a href="404.html" class="dropdown-item">Bitacora</a>
                            <a href="blank.html" class="dropdown-item">Catastro</a>
                            <a href="blank.html" class="dropdown-item">Historial Tramite</a>
                            <a href="hola.html" class="dropdown-item">Archivar Tramite</a>
                        </div>
                    </div>
                    <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Cerrar Sesión</a>
                </div>
            </nav>
        </div>
    </div>
        <!-- Sidebar End -->


        <!-- Content Start  Aqui agregue algo interesante-->
        <div class="content">
            <!-- Navbar Start -->
            <div th:fragment="navbar">
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0" th:href="@{/}"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Message</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all message</a>
                        </div>
                    </div>
<!--                    <div class="nav-item dropdown">-->
<!--                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">-->
<!--                            <i class="fa fa-bell me-lg-2"></i>-->
<!--                            <span class="d-none d-lg-inline-flex">Notificatin</span>-->
<!--                        </a>-->
<!--                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">-->
<!--                            <a href="#" class="dropdown-item">-->
<!--                                <h6 class="fw-normal mb-0">Profile updated</h6>-->
<!--                                <small>15 minutes ago</small>-->
<!--                            </a>-->
<!--                            <hr class="dropdown-divider">-->
<!--                            <a href="#" class="dropdown-item">-->
<!--                                <h6 class="fw-normal mb-0">New user added</h6>-->
<!--                                <small>15 minutes ago</small>-->
<!--                            </a>-->
<!--                            <hr class="dropdown-divider">-->
<!--                            <a href="#" class="dropdown-item">-->
<!--                                <h6 class="fw-normal mb-0">Password changed</h6>-->
<!--                                <small>15 minutes ago</small>-->
<!--                            </a>-->
<!--                            <hr class="dropdown-divider">-->
<!--                            <a href="#" class="dropdown-item text-center">See all notifications</a>-->
<!--                        </div>-->
<!--                    </div>kkkk-->
<!--                    <div class="nav-item dropdown">-->
<!--                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">-->
<!--                            <img class="rounded-circle me-lg-2" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">-->
<!--                            <span class="d-none d-lg-inline-flex">John Doe</span>-->
<!--                        </a>-->
<!--                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">-->
<!--                            <a href="#" class="dropdown-item">My Profile</a>-->
<!--                            <a href="#" class="dropdown-item">Settings</a>-->
<!--                            <a href="#" class="dropdown-item">Log Out</a>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </nav>
            </div>
            <!-- Navbar End  hasta aqui tengo que copiar esta huevada -->
            <div class="text-center mt-4">
                <img src="https://www.opinion.com.bo/asset/thumbnail,992,558,center,center/media/opinion/images/2018/11/25/2018N274441.jpg" alt="Trámites de tierras" class="img-fluid" width="300">
                <p class="mt-2">Entrega de títulos a los beneficiarios</p>
            </div>


            <!-- Sale & Revenue Start -->

            <!-- Sale & Revenue End -->

            <div class="accordion" id="infoAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            ¿QUE SON LOS TRAMITES DE TIERRA?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#infoAccordion">
                        <div class="accordion-body">
                            En Bolivia, los trámites de tierra están relacionados con la regularización, titulación y
                            administración de propiedades agrarias y urbanas
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion" id="infoAccordion1">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne1">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                            ¿PARA QUE SIRVE LA TITULACIÓN DE TIERRAS?
                        </button>
                    </h2>
                    <div id="collapseOne1" class="accordion-collapse collapse show" aria-labelledby="headingOne1" data-bs-parent="#infoAccordion1">
                        <div class="accordion-body">
                            La titulación del predio asegura la propiedad legal del terreno, proporcionando seguridad jurídica, facilitando el acceso a
                            créditos, aumentando el valor comercial, permitiendo un mejor desarrollo y planificación, simplificando la herencia y transferencia de bienes,
                            y posibilitando el acceso a servicios públicos.
                        </div>
                    </div>
                </div>
            </div>

            <!-- Copia con nuevos IDs -->
            <div class="accordion" id="infoAccordion2">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne2">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                            ¿TIPOS DE TRAMITES?
                        </button>
                    </h2>
                    <div id="collapseOne2" class="accordion-collapse collapse" aria-labelledby="headingOne2" data-bs-parent="#infoAccordion2">
                        <div class="accordion-body">
                            <ul>
                                <li>Saneamiento de Propiedad Agraria</li>
                                <li>Matriculación de Inmuebles</li>
                                <li>Compra de Terrenos</li>
                                <li>Modalidades de Saneamiento</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sales Chart Start -->

            <!-- Sales Chart End -->


            <!-- Recent Sales Start -->

            <!-- Recent Sales End -->


            <!-- Widgets Start -->

            <!-- Widgets End -->


            <!-- Footer Start -->
        <div th:fragment="footer">
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">TRAMITES DE TIERRA</a>, All Right Reserved.
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a href="https://github.com/Sebastian-M-C/si2">EL GRUPO 7</a>
                        </br>
                        Distributed By <a class="border-bottom" href="https://github.com/Sebastian-M-C/si2" target="_blank">EL GRUPO 7</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>